// $lGreen: #00BFA6;
// $green: #00AB95;
$lPink: #60A8A7;
$pink: #60A8A7;
$lRose: #E36414;
$rose: #E36414;
$orange: #2A9D8F;
$lOrange:#2A9D8F;

// $orange : #1D3557;
// $lPink :#31587A;
// $pink:#31587A;
$lGreen :#264653;
$green :#264653;

// $lOrange :#457B9D;
// $orange :#457B9D;

// $pink: rgba(5, 102, 141, 0.836);